<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Eugene Maslovich aka ehpc</title>

		<link rel="stylesheet" type="text/css" href="stylesheets/normalize.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css">

		<script>
			(function(d) {
				var config = {
					kitId: 'wmo8fym',
					scriptTimeout: 3000,
					async: true
				},
				h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
			})(document);
		</script>

		<script src="javascripts/vendor/tinycolor.js"></script>
		<script src="javascripts/index.js"></script>
	</head>
	<body>

		<header>
			<h1 id="logo">ehpc</h1>
		</header>

		<nav>
			<div class="mainNav">
				<a href="/blog">blog</a>
			</div>
			<div class="linkNav">
					<div class="row">
						<div class="col col1">
							<a href="https://github.com/ehpc">github</a>
						</div>
						<div class="col col2">
							<a href="skype:eugene42?chat">skype</a>
						</div>
					</div>
					<div class="row">
						<div class="col col1">
							<a href="http://www.youtube.com/channel/UC7yRTJ8-6k7eZ36kaI4fTAw">youtube</a>
						</div>
						<div class="col col2">
							<a href="http://vk.com/eugene42">vkontakte</a>
						</div>
					</div>
					<div class="row">
						<div class="col col1">
							<a href="https://www.facebook.com/ehpc42">facebook</a>
						</div>
						<div class="col col2">
							<a href="https://www.instagram.com/ehpc42/">instagram</a>
						</div>
					</div>
					<div class="row">
						<div class="col single">
							<a href="mailto:ehpc@ehpc.io">ehpc@ehpc.io</a>
						</div>
					</div>
			</div>
		</nav>

		<canvas id="canvas"></canvas>

	</body>
</html>
