<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Eugene Maslovich aka ehpc</title>

		<link rel="stylesheet" type="text/css" href="stylesheets/normalize.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css">

		<script src="https://use.typekit.net/wmo8fym.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		<script src="javascripts/index.js"></script>
	</head>
	<body>

		<header>
			<h1>ehpc</h1>
		</header>

		<nav>
			<!--<a href="/blog">cd ~/blog</a>-->
		</nav>

		<canvas id="canvas"></canvas>

	</body>
</html>
