body {
  padding: 3vmin;
  text-align: center;
}
h1 {
  font-family: 'futura-pt', sans-serif;
  font-size: 50vmin;
  font-weight: 400;
  margin: 0;
  position: relative;
  z-index: 1000;
  color: #ffffff;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
