:export {
  wallColor: #33073d;
  wallLeftColor: #41084e;
  wallRightColor: #3c0848;
  ceilingColor: #280530;
  floorColor: #280530;
  windowFrameColor: #4a1e54;
  windowFrameOutlineHighlightedColor: hsl(286deg 68% 6% / 20%);
  highlightColor: hsl(30deg 100% 50%);
  skyGradient1: hsl(339deg 70% 39%);
  skyGradient2: hsl(8deg 74% 49%);
  skyGradient3: hsl(21deg 98% 49%);
  skyGradient4: hsl(25deg 100% 50%);
  skyGradient5: hsl(30deg 100% 50%);
  sunColor: hsl(31deg 100% 50%);
  backgroundBuildingColor: hsl(11deg 87% 39%);
  foregroundBuildingColor: hsl(317deg 66% 13%);
  windowColor: hsl(27deg 100% 50%);
  serverBoxShadowColor: hsl(296deg 70% 9%);
  serverBoxDeepShadowColor: hsl(238deg 78% 8%);
  serverBoxHighlightedColor: hsl(15deg 100% 40%);
  serverBoxDetail1Color: hsl(2deg 79% 28%);
  serverBoxDetail2Color: hsl(311deg 68% 11%);
  tableTopColor: #90150e;
  tableTopShadowColor: #330705;
  tableTopShadowColor2: #200403;
  tableBottomColor: hsl(296deg 70% 3%);
  pcBoxColorLeft: hsl(268deg 73% 9%);
  pcBoxColorFront: hsl(238deg 78% 7%);
  pcBoxColorTop: #400c35;
  displayFrameColor: #f48803;
  displayShadowColor: #894c02;
  displayGlassColor: #050520;
  displayReflectionColor: hsl(268deg 80% 10%);
  displayButtonColor: hsl(296deg 70% 3%);
  keyboardFrontColor: hsl(8deg 85% 39%);
  keyboardLeftColor: #340a28;
  keyboardTopColor: #fe8500;
  keyboardKeypadColor: hsl(8deg 83% 33%);
  boxFrontColor: #400c35;
  boxSideColor: #631253;
  boxTopColor: #931c7b;
  transparentColor: rgba(255, 255, 255, 0);
}

:root {
  --wall-color: #33073d;
  --wall-left-color: #41084e;
  --wall-right-color: #3c0848;
  --background-gradient: linear-gradient(to right, var(--wall-left-color) 50%, var(--wall-right-color) 50%);
}
