:export {
  airplaneColor: rgb(0 0 0 / 90%);
  backgroundBuildingColor: hsl(11deg 87% 39%);
  boxFrontColor: #400c35;
  boxSideColor: #631253;
  boxTopColor: #180715;
  catColor: black;
  ceilingColor: #280530;
  debugColor: hsl(110deg 100% 50% / 30%);
  displayButtonColor: hsl(296deg 70% 3%);
  displayFrameColor: #f48803;
  displayGlassColor: #050520;
  displayReflectionColor: hsl(268deg 80% 10%);
  displayShadowColor: #894c02;
  floorColor: #280530;
  foregroundBuildingColor: hsl(317deg 66% 13%);
  highlightColor: hsl(30deg 100% 50%);
  keyboardFrontColor: hsl(8deg 85% 39%);
  keyboardKeypadColor: hsl(8deg 83% 33%);
  keyboardLeftColor: #340a28;
  keyboardTopColor: #fe8500;
  pcBoxColorFront: hsl(238deg 78% 7%);
  pcBoxColorLeft: hsl(268deg 73% 9%);
  pcBoxColorTop: #400c35;
  serverBoxDeepShadowColor: hsl(238deg 78% 8%);
  serverBoxDetail1Color: hsl(2deg 79% 28%);
  serverBoxDetail2Color: hsl(311deg 68% 11%);
  serverBoxHighlightedColor: hsl(15deg 100% 40%);
  serverBoxShadowColor: hsl(296deg 70% 9%);
  skyGradient1: hsl(339deg 70% 39%);
  skyGradient2: hsl(8deg 74% 49%);
  skyGradient3: hsl(21deg 98% 49%);
  skyGradient4: hsl(25deg 100% 50%);
  skyGradient5: hsl(30deg 100% 50%);
  sunColor: hsl(31deg 100% 50%);
  tableBottomColor: hsl(296deg 70% 3%);
  tableTopColor: #90150e;
  tableTopShadowColor: #330705;
  tableTopShadowColor2: #200403;
  textColor: #fff;
  transparentColor: rgb(255 255 255 / 0%);
  wallColor: #33073d;
  wallLeftColor: #41084e;
  wallRightColor: #3c0848;
  windowColor: hsl(27deg 100% 50%);
  windowFrameBottomHighlightColor: #561d66;
  windowFrameBottomOutlineColor: #3a0056;
  windowFrameColor: #3d0c4d;
  windowFrameOutlineHighlightedColor: hsl(286deg 68% 6% / 20%);
  windowFrameShadowColor: #19002c;
  windowFrameSideOutlineColor: #2d003a;
  windowFrameTopOutlineColor: #1c002e;
}
