@import url("./colors.module.css");

@font-face {
  font-family: NES;
  src:
    url("../fonts/nes.woff2") format("woff2"),
    url("../fonts/nes.woff") format("woff"),
    url("../fonts/nes.ttf") format("truetype");
}

html,
body {
  font-family: NES, monospace;
  height: 100%;
  margin: 0;
}

#scene-canvas {
  display: block;
  height: 100vh;
  width: 100vw;
}

body::before {
  background: radial-gradient(transparent, 95%, rgb(0 0 0 / 50%));
  content: " ";
  display: block;
  inset: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

a {
  color: transparent;
  display: block;
  left: 0;
  overflow-wrap: break-word;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 3;
}

body.debug {
  a {
    background: hsl(128deg 100% 50% / 30%);
    color: white;
  }
}
